[package]
name = "xh-engine"
version = "0.1.0"
edition = "2024"

[features]
bubblewrap-executor = ["tokio/process"]
http-executor = ["dep:ureq", "dep:tokio-util", "tokio/fs"]
local-store = ["dep:rusqlite"]

[dependencies]
petgraph.workspace = true
mlua.workspace = true
log.workspace = true
serde.workspace = true
jiff.workspace = true
thiserror.workspace = true
blake3 = { workspace = true, features = ["std"] }
tokio = { workspace = true, features = ["sync"] }
futures-util = { version = "0.3.31", default-features = false, features = ["std"] }
walkdir = "2.5.0"
serde_json = "1.0.145"
rusqlite = { version = "0.37.0", features = ["jiff"], optional = true }
ureq = { version = "3.1.2", optional = true }
tokio-util = { version = "0.7.17", optional = true, features = ["io-util"] }
